table.a {
	table-layout: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white
  }
  th, td {
	padding: 8px;
	text-align: center;
	border-right: solid 1px #ddd; 
	border-left: solid 1px #ddd;
	border-bottom: 1px solid #ddd;
  }
.options {
    color:white;
	background-color: black;
}
.selects {
    color:white;
	background-color: darkslateblue;
}
body {
	color:white;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: red;
}