table.a {
	table-layout: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white
  }
  th, td {
	padding: 8px;
	text-align: center;
	border-right: solid 1px #ddd; 
	border-left: solid 1px #ddd;
	border-bottom: 1px solid #ddd;
  }
.options {
    color:white;
	background-color: black;
}
.disabledOptions {
    color:grey;
	background-color: black;
}
.selects {
    color:white;
	background-color: darkslateblue;
}
body {
	color:white;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: red;
}






#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }